/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
 	margin:0px;
 	padding: 0px;
 }

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: orange;
}

 .session_bar{
 	 width:250px;
 	 height:54px;
 	 border:1px solid black;
 	 border-radius:5px;
 	 background-color: white;
 	 position: fixed;
 	 margin-left: 80%;
 }

 .img_cur{
 	float:left;
 	margin: 2px;
 }

 .user{
 margin: 2px;
 padding:2px;
 width:200px;
 height:220px;
 border:1px solid black;
 border-radius:5px;
 float:left;
 background-color: white;
 position: static;
    .navi_bar{
 	 position: relative;
 	 margin-top: -215px;
 	 margin-left: 170px;
 		div{
 	 	 width:25px;
 	 	 height:25px;	
 	 	 border:1px solid black;
 	 	 border-radius:5px;
 	 	 margin-top: 3px;
 	 	 background-color: grey;
 		}
 	}		
}